@font-face {
    font-family:NeueMachina;
    src: url(./assets/NeueMachinaBlack.ttf);
  }
  
  @font-face {
    font-family:PPNeue ;
    src: url(./assets/PPNeueMachina.ttf);
  }

  @font-face {
    font-family:Helvetica-neue ;
    src: url(./assets/HelveticaNeueBold.ttf);
  }

  *{
  font-family: NeueMachina;
  }

.text-content h3 , h3 > span {
  font-family:  Helvetica;
  font-size: 3.2rem;
  font-weight: bold;
  /* line-height: 40px; */
  /* text-align: center; */

}

.product-name{
  font-family: NeueMachina;
  font-size: 1.5rem;
  line-height: 20px;
  text-align: center;
  margin-top: 20px;
}
.product-price{
  font-family: NeueMachina;
  font-size: 1.1rem;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;
}

@keyframes bubbleMove {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.animate-bubble {
  
  animation: bubbleMove 3s ease-in-out infinite;
}


.bento-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
    "box1 box1 box2 box2"
    "box1 box1 box2 box2"
    "box3 box4 box2 box2";
    width: 980px;
    height: 650px;
   
  }
  .box{
    border-radius: 20px;
  }

  .box1 { grid-area: box1; background: #D7D6D7; max-height:500px}
.box2 { grid-area: box2; background: #D7D6D7; background-image: url("src/assets/images/capguy.jpg"); background-size:cover; background-position:center;  }
.box3 { grid-area: box3; background: #D7D6D7;background-image: url("src/assets/images/capguy3.jpg"); background-size:cover; background-position:center;  }
.box4 { grid-area: box4; background: #D7D6D7; background-image: url("src/assets/images/capguy2.jpg"); background-size:cover; background-position:center; }

.circle{
  background-color: rgba(246, 247, 247, 0.479);
}

button{
  font-family: Arial, Helvetica, sans-serif;
}

.label ,.badge {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
}

h5{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

div >p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: start;
}


  .bento-box h1{
padding: 20px;
    font-family: NeueMachina;
    font-size: 3.2rem;
    line-height: 60px;
  }

  .box4:hover{
    background-image: url("src/assets/images/capguy2v2.jpg");
    background-size:cover; 
    background-position:center;
    transition: ease-in-out 0.7s;
  }
  .box3:hover{
    background-image: url("src/assets/images/cap.jpg");
    background-size:cover; 
    background-position:center;
    transition: ease-in-out 0.9s;
  }


  @media (max-width:780px){

    .bento-box{
        height: 600px;
    }

    .bento-box h1{
        font-size: 2.5rem;
        line-height: 40px;
      }


  }
    
  
 